@font-face {
  font-family: SVN-Gotham;
  src: url(../fonts/SVN-Gotham\ Light.ttf);
}

#header1 {
  background-image: url("../img/Header-1.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 122px;
  position: relative;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav {
  padding-top: 20px;
  text-align: center;
  max-width: 100%;
  position: absolute;
  z-index: 2;
}

.bell>a>img {
  border: 1px none;
  padding: 6px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
#lang>a{
  margin-left: 0;
  padding-left: 0;
}
#lang>a>img{
  border: 1px none;
  padding: 4px;
  padding-right: 22px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
#banner {
  text-align: center;
  position: relative;
}

#banner>img {
  max-width: 100%;
  z-index: -1;
  position: relative;
}

#gradient {
  max-width: 100%;
  margin-bottom: 0;
  background-color: black;
  position: absolute;
  z-index: 2;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1385px;
  }
}